* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif; }

.nav__wrapper, .about-app__wrapper, .features__wrapper, .diet-plan__wrapper, .meal-time__wrapper {
  max-width: 1240px;
  margin: 0 auto; }

.nav:after {
  clear: both;
  content: '';
  display: block; }

.nav:before {
  clear: both;
  content: '';
  display: block; }

.nav {
  background-color: #2ecd71;
  position: relative;
  z-index: 1; }
  .nav__wrapper {
    text-align: center; }
  .nav__logo {
    display: inline-block;
    vertical-align: middle; }
  .nav__menu {
    display: inline-block;
    text-align: right;
    width: 83%;
    vertical-align: middle; }
  .nav__menu-item {
    list-style-type: none;
    display: inline-block;
    padding: 40px 0; }
    .nav__menu-item:last-child {
      position: relative; }
      .nav__menu-item:last-child:before {
        content: '';
        display: block;
        position: absolute;
        top: 30px;
        left: 0;
        width: 128px;
        height: 40px;
        background-color: white;
        border-radius: 20px; }
      .nav__menu-item:last-child .nav__menu-item-link {
        position: relative;
        color: #2ecd71;
        font-weight: bold;
        z-index: 1; }
  .nav__menu-item-link {
    text-decoration: none;
    color: #fefefe;
    text-transform: capitalize;
    padding: 32px;
    font-size: 18px; }

.about-app {
  background-image: url("../images/bg_02.jpg");
  background-size: cover;
  width: 100%;
  min-height: 849px; }
  .about-app__wrapper {
    font-size: 0;
    padding: 46px 40px 50px 40px; }
  .about-app__info {
    display: inline-block;
    width: 50%;
    color: #fefefe;
    vertical-align: top; }
  .about-app__app-icon {
    padding-top: 112px; }
  .about-app__info-heading {
    padding-top: 66px;
    padding-bottom: 10px;
    font-size: 63px;
    font-weight: 300; }
  .about-app__info-text {
    padding-bottom: 47px;
    line-height: 36px;
    font-size: 18px;
    font-weight: 300; }
  .about-app__phone-image-wrapper {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    text-align: right; }
  .about-app__phone-image {
    max-width: 100%; }
  .about-app__store-icon {
    margin-right: 28px; }

.features {
  padding-bottom: 96px; }
  .features__wrapper {
    font-size: 0; }
  .features__image-wrapper {
    display: inline-block;
    width: 50%;
    vertical-align: middle;
    margin-top: 47px; }
  .features__image {
    max-width: 100%; }
  .features__info {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    color: black;
    padding: 30px 0 0 30px; }
  .features__info-heading {
    padding-bottom: 20px;
    font-size: 54px;
    font-weight: 300; }
    .features__info-heading span {
      color: #2ecd71; }
  .features__info-text {
    line-height: 36px;
    font-size: 18px;
    font-weight: 300; }

.diet-plan {
  background-image: url("../images/plan-your-diet-bg.jpg");
  background-size: cover;
  background-position-x: 43%;
  width: 100%;
  height: 926px; }
  .diet-plan__wrapper {
    text-align: center;
    padding: 130px 130px 0 130px; }
  .diet-plan__heading {
    padding-bottom: 20px;
    font-size: 54px;
    font-weight: 300; }
    .diet-plan__heading span {
      color: #2ecd71; }
  .diet-plan__text {
    line-height: 36px;
    font-size: 18px;
    font-weight: 300; }

.meal-time__wrapper {
  font-size: 0;
  position: relative;
  height: 705px; }

.meal-time__info {
  display: inline-block;
  width: 55%; }

.meal-time__products {
  display: inline-block;
  width: 45%;
  top: 50%;
  transform: translateY(-50%);
  position: relative;
  padding-top: 37px;
  text-align: -webkit-center; }

.meal-time__product {
  border: 1px solid #fff8f8;
  border-radius: 5px;
  box-shadow: 0 0 2px 1px #dcdada;
  margin-bottom: 36px;
  padding: 25px 10px;
  width: 420px;
  text-align: left; }
  .meal-time__product--large {
    padding: 10px;
    width: 520px; }

.meal-time__product-title {
  color: #2ecd71;
  font-size: 16px;
  font-weight: bold; }
  .meal-time__product-title--large {
    font-size: 19px; }

.meal-time__product-info {
  font-size: 13px;
  font-weight: 300; }
  .meal-time__product-info--large {
    font-size: 16px; }

.meal-time__product-content {
  color: #2ecd71;
  font-size: 13px;
  font-weight: bold; }
  .meal-time__product-content span {
    color: black;
    position: relative;
    top: -2px;
    font-size: 7px;
    font-weight: 300; }
  .meal-time__product-content--large {
    font-size: 16px; }

.meal-time__product-img-wrapper, .meal-time__product-description, .meal-time__time {
  vertical-align: middle;
  display: inline-block; }

.meal-time__product-img-wrapper {
  width: 30%; }

.meal-time__product-description {
  width: 38%; }

.meal-time__time {
  text-align: right;
  width: 30%; }

.meal-time__hour {
  font-size: 24px;
  font-weight: bold; }
  .meal-time__hour--large {
    font-size: 30px; }

.meal-time__part-of-a-day {
  font-size: 16px;
  font-weight: bold; }
  .meal-time__part-of-a-day--large {
    font-size: 19px; }

.meal-time__info-heading {
  padding-bottom: 20px;
  font-size: 54px;
  font-weight: 300; }
  .meal-time__info-heading span {
    color: #2ecd71; }

.meal-time__info-text {
  line-height: 36px;
  font-size: 18px;
  font-weight: 300; }
