* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif; }

.nav__wrapper, .about-app__wrapper, .features__wrapper, .diet-plan__wrapper, .meal-time__wrapper, .footer__wrapper {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px; }

.nav:after {
  clear: both;
  content: '';
  display: block; }

.nav:before {
  clear: both;
  content: '';
  display: block; }

.nav {
  background-color: #2ecd71;
  position: relative;
  z-index: 1; }
  .nav__wrapper {
    text-align: left;
    font-size: 0; }
  .nav__logo-wrapper {
    display: inline-block;
    vertical-align: middle;
    width: 15%; }
  .nav__menu {
    display: inline-block;
    text-align: right;
    width: 85%;
    vertical-align: middle; }
  .nav__menu-item {
    list-style-type: none;
    display: inline-block;
    padding: 40px 0; }
    .nav__menu-item:last-child {
      position: relative; }
      .nav__menu-item:last-child:before {
        content: '';
        display: block;
        position: absolute;
        top: 30px;
        left: 0;
        width: 128px;
        height: 40px;
        background-color: white;
        border-radius: 20px; }
      .nav__menu-item:last-child .nav__menu-item-link {
        position: relative;
        color: #2ecd71;
        font-weight: bold;
        z-index: 1; }
  .nav__menu-item-link {
    text-decoration: none;
    color: #fefefe;
    text-transform: capitalize;
    padding: 32px;
    font-size: 18px; }

.about-app {
  background-image: url("../images/about-app-bg.jpg");
  background-size: cover;
  width: 100%;
  min-height: 849px; }
  .about-app__wrapper {
    font-size: 0;
    padding-bottom: 50px; }
  .about-app__info {
    display: inline-block;
    width: 55%;
    color: #fefefe;
    vertical-align: top; }
  .about-app__app-icon {
    padding-top: 112px;
    display: block;
    position: relative;
    left: -50px; }
  .about-app__info-heading {
    padding-bottom: 10px;
    font-size: 63px;
    font-weight: 300; }
  .about-app__info-text {
    padding-bottom: 47px;
    line-height: 36px;
    font-size: 18px;
    font-weight: 300; }
  .about-app__phone-image-wrapper {
    padding-top: 46px;
    display: inline-block;
    width: 45%;
    vertical-align: top;
    text-align: right; }
  .about-app__phone-image {
    max-width: 100%; }
  .about-app__store-icon {
    margin-right: 28px;
    cursor: pointer; }
  .about-app:first-child {
    padding-left: 47px; }

.features {
  padding-bottom: 96px; }
  .features__wrapper {
    font-size: 0; }
  .features__image-wrapper {
    display: inline-block;
    width: 47%;
    vertical-align: middle;
    margin-top: 47px;
    position: relative; }
  .features__image {
    max-width: 100%; }
  .features__icon {
    width: 50px;
    height: 50px;
    background-color: gainsboro;
    border: 2px solid white;
    border-radius: 50%;
    position: absolute;
    cursor: pointer; }
    .features__icon:hover {
      width: 70px;
      height: 70px;
      background-color: #2ecd71;
      transform: translate(-14%, -15%);
      border: 3px solid white; }
      .features__icon:hover .features__icon-img {
        width: 27px; }
    .features__icon--1 {
      top: 15%;
      left: 65%; }
    .features__icon--2 {
      top: 25%;
      left: 84%; }
    .features__icon--3 {
      width: 70px;
      height: 70px;
      background-color: #2ecd71;
      transform: translate(-14%, -15%);
      border: 3px solid white;
      top: 44%;
      left: 93%; }
      .features__icon--3 .features__icon-img {
        width: 27px; }
    .features__icon--4 {
      top: 66%;
      left: 85%; }
    .features__icon--5 {
      top: 78%;
      left: 64%; }
  .features__icon-img {
    width: 20px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .features__info {
    display: inline-block;
    vertical-align: middle;
    width: 53%;
    color: black;
    padding: 30px 0 0 51px; }
  .features__info-heading {
    padding-bottom: 20px;
    font-size: 54px;
    font-weight: 300; }
    .features__info-heading span {
      color: #2ecd71; }
  .features__info-text {
    line-height: 36px;
    font-size: 18px;
    font-weight: 300; }

.diet-plan {
  background-image: url("../images/plan-your-diet-bg.jpg");
  background-size: cover;
  background-position: center;
  width: 100%; }
  .diet-plan__wrapper {
    text-align: center;
    padding: 130px 130px 0 130px;
    height: 963px;
    position: relative; }
  .diet-plan__heading {
    padding-bottom: 20px;
    font-size: 54px;
    font-weight: 300; }
    .diet-plan__heading span {
      color: #2ecd71; }
  .diet-plan__text {
    line-height: 36px;
    font-size: 18px;
    font-weight: 300; }
  .diet-plan__phone-image {
    position: relative;
    bottom: 0;
    z-index: 1;
    max-width: 100%; }
    .diet-plan__phone-image--left {
      left: 30px;
      z-index: 0; }
    .diet-plan__phone-image--right {
      left: -30px;
      z-index: 0; }

.meal-time__wrapper {
  font-size: 0;
  position: relative;
  height: 705px; }

.meal-time__info {
  display: inline-block;
  width: 55%; }

.meal-time__products {
  display: inline-block;
  width: 45%;
  top: 50%;
  transform: translateY(-50%);
  position: relative;
  padding-top: 37px;
  text-align: -webkit-center; }

.meal-time__product {
  border: 1px solid #fff8f8;
  border-radius: 5px;
  box-shadow: 0 0 2px 1px #dcdada;
  margin-bottom: 36px;
  padding: 25px 10px;
  max-width: 420px;
  text-align: left; }
  .meal-time__product--large {
    padding: 10px;
    max-width: 520px; }

.meal-time__product-title {
  color: #2ecd71;
  font-size: 16px;
  font-weight: bold; }
  .meal-time__product-title--large {
    font-size: 19px; }

.meal-time__product-info {
  font-size: 13px;
  font-weight: 300; }
  .meal-time__product-info--large {
    font-size: 16px; }

.meal-time__product-content {
  color: #2ecd71;
  font-size: 13px;
  font-weight: bold; }
  .meal-time__product-content span {
    color: black;
    position: relative;
    top: -2px;
    font-size: 7px;
    font-weight: 300; }
  .meal-time__product-content--large {
    font-size: 16px; }

.meal-time__product-img-wrapper, .meal-time__product-description, .meal-time__time {
  vertical-align: middle;
  display: inline-block; }

.meal-time__product-img-wrapper {
  width: 30%; }
  .meal-time__product-img-wrapper--large {
    width: 35%; }

.meal-time__product-description {
  width: 36%; }
  .meal-time__product-description--large {
    width: 35%; }

.meal-time__time {
  text-align: right;
  padding-right: 10px;
  width: 34%; }
  .meal-time__time--large {
    width: 30%; }

.meal-time__hour {
  font-size: 24px;
  font-weight: bold; }
  .meal-time__hour--large {
    font-size: 30px; }

.meal-time__part-of-a-day {
  font-size: 16px;
  font-weight: bold; }
  .meal-time__part-of-a-day--large {
    font-size: 19px; }

.meal-time__info-heading {
  padding-bottom: 20px;
  font-size: 54px;
  font-weight: 300; }
  .meal-time__info-heading span {
    color: #2ecd71; }

.meal-time__info-text {
  line-height: 36px;
  font-size: 18px;
  font-weight: 300; }

.footer {
  background-image: url("../images/footer_06.jpg");
  background-size: cover; }
  .footer__wrapper {
    text-align: center;
    padding: 100px; }
  .footer__heading {
    color: white;
    padding-bottom: 20px;
    font-size: 54px;
    font-weight: 300; }
  .footer__text {
    color: white;
    padding-bottom: 46px;
    line-height: 36px;
    font-size: 18px;
    font-weight: 300; }
  .footer__button {
    background-color: #ffffff;
    border: none;
    border-radius: 20px;
    color: #2ecd71;
    padding: 10px 90px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold; }
