%container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

%clearfix {
  &:after {
    clear: both;
    content: '';
    display: block;
  }
  &:before {
    clear: both;
    content: '';
    display: block;
  }
}